*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.App{
    width: 1000px;
}

.content{
    display: flex;
    border: 2px solid seagreen;
    margin: 20px;
}

.contentTable{
    width: 100%;
    border: 1px solid black;
}

td,th{
    border: 1px solid black;
}